
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>大毛推荐</title>
    <link rel="stylesheet" href="./common/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="./admin/css/style.css" type="text/css">
    <script src="./common/layui/layui.js" type="text/javascript"></script>
    <script src="./common/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="./common/vue.min.js" type="text/javascript"></script>
    <style>
        .right h2{
            margin: 10px 0;
        }
        .right li{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname"></h1>
        <div class="breadcrumb">
            <i class="layui-icon">&#xe715;</i>
            <ul>
                <li v-for="vo in address">
                    <a  v-text="vo.name" :href="vo.url" ></a> <span>/</span>
                </li>
            </ul>
        </div>
        <div style="float: right;margin-right: 3%">
            <a href="/login">登录/注册</a>
        </div>
    </header>

    <div class="main">
        <!--左栏-->
        <div class="left">
            <ul class="cl" >
                <!--顶级分类-->
                <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
                    <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                        <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active" class="layui-icon active">&#xe623;</i>
                    </a>
                    <!--子级分类-->
                    <div v-for="vo2,index2 in vo.list">
                        <a :href="vo2.url" target="main" :class="{active:vo2.active}"  v-text="vo2.name"></a>
                        <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
                    </div>
                </li>
            </ul>
        </div>

        <!--右侧-->
        <div class="right">
            <iframe src="/main" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" target="_self" ></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    let menu = [{
        "name": "首页",
        "icon": "&#xe68e;",
        "url": "/",
        "hidden": false,
        "list": []
    },{
        "name": "软件管理",
        "icon": "&#xe653;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "日常软件",
            "url": "/page_soft",
        },{
            "name": "开发必备",
            "url": "/page_devtool"
        }]
    }, {
        "name": "图片管理",
        "icon": "&#xe612;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "二次元图",
            "url": "/page_anime_photo"
        }, {
            "name": "三次元图",
            "url": "/page_real_photo"
        }]
    }, {
        "name": "好番管理",
        "icon": "&#xe609;",
        "url": "",
        "hidden": false,
        "list": [{
            "name": "猛男必看",
            "url": "/page_anime_boy"
        },{

            "name": "娱乐番剧",
            "url": "/page_anime_recreation"
        }]
    }, {
        "name": "退出登录",
        "icon": "&#xe65c;",
        "url": "/logout",
        "list": []
    }];

    let config = {
        webName : "OTAKU",
        menuList : menu,
        //layer全局提示层
        layerMsg: {
            offset: 't', //坐标 (详细说明 https://www.layui.com/doc/modules/layer.html#offset)
            shade: [0.4, '#000'] //遮罩 (详细说明 https://www.layui.com/doc/modules/layer.html#shade)
        }
    };


    // //模拟登录状态,实际使用时请删除掉
    // if(!sessionStorage.isLgoin){
    //     window.location.href = 'login.html';
    // }
</script>



<script src="./admin/js/script.js" type="text/javascript"></script>
</body>
</html>
