

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台首页 - QAdmin后台模板</title>
    <link rel="stylesheet" href="./common/layui/css/layui.css">
    <link rel="stylesheet" href="./admin/css/style.css">
    <link rel="stylesheet" href="./admin/css/style-iframe.css">
    <script src="./common/layui/layui.js"></script>
    <script src="./common/jquery-3.3.1.min.js"></script>
    <script src="./common/vue.min.js"></script>
</head>
<body>


<blockquote class="layui-elem-quote">
    <h2>宅男+程序员浮力网站</h2><br>
    <p>为您提供了各种常用软件</p>
</blockquote>

<div class="layui-row">
    <div class="layui-col-md4 layui-col-xs6">
        <div class="layui-card">
            <div class="layui-card-header"><h2>猛男必看</h2></div>
            <div class="layui-card-body" style="height: 250px;">
                <ul>
                    <li>番剧全部以超链接方式为您跳转到其他网址</li>
                    <li>我们不提供番剧，我们只是番剧的搬运工</li>
                    <li><img height="180" src="https://damao-oss.oss-cn-beijing.aliyuncs.com/photoes/luoli.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-col-md4 layui-col-xs6">
        <div class="layui-card">
            <div class="layui-card-header"><h2>浮力图</h2></div>
            <div class="layui-card-body" style="height: 250px;">
                <ul>
                    <li>本网站所有图片均来自互联网</li>
                    <li>如有侵权请联系删除</li>
                    <li><img height="180" src="https://damao-oss.oss-cn-beijing.aliyuncs.com/photoes/girl.jpg"/></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layui-col-md4 layui-col-xs6">

        <div class="layui-card">
            <div class="layui-card-header"><h2>现充爆炸</h2></div>
            <div class="layui-card-body" style="height: 250px;">
                <ul>
                    <li>ฅ(๑ ̀ㅅ ́๑)ฅ </li>
                    <li><img height="180" src="https://damao-oss.oss-cn-beijing.aliyuncs.com/photoes/xcbz.jpg"/></li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="layui-row">
    <div class="layui-col-md12" style="padding-right: 20px">
        <h2>程序员必备网址</h2>

        <table class="layui-table" lay-even lay-skin="nob">
            <colgroup>
                <col width="150">
                <col width="250">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>网站</th>
                <th>地址</th>
                <th>简介</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>LeetCode</td>
                <td><a href="https://leetcode-cn.com/" target="_blank">https://leetcode-cn.com/</a> </td>
                <td>力扣为用户提供了多种多样的开发工具，适用于真实的日常技术开发和学习场景。其中，Playground 无需设置环境，就能够帮助用户进行测试、开发、学习</td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td><a href="https://github.com/" target="_blank">https://github.com/github</a> </td>
                <td>全球最大的同性交友网站</td>
            </tr>
            <tr>
                <td>Bilibili</td>
                <td><a href="https://www.bilibili.com/" target="_blank">https://www.bilibili.com/</a> </td>
                <td>B站除了看片，学习资源也有很多</td>
            </tr>
            <tr>
                <td>果核剥壳</td>
                <td><a href="https://www.ghpym.com/" target="_blank">https://www.ghpym.com/</a> </td>
                <td>优质绿色版软件提供网站</td>
            </tr>
            <tr>
                <td>可视化数据结构</td>
                <td><a href="https://www.cs.usfca.edu/~galles/visualization/Algorithms.html" target="_blank">https://www.cs.usfca.edu/~galles/visualization/Algorithms.html</a> </td>
                <td>提供了各种数据结构的可视化操作，帮你更好理解数据结构</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<script src="./admin/js/script.js"></script>
</body>
</html>
